<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Project-Friday WakeWord Aufnahme</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
  </script>
  <body>

    <div class="wrapper">

      <header>
        <h1>WakeWord Aufnahme</h1>
      </header>

      <section class="top-display">
		<div class="directions">
			Drücke Aufnahme zum starten.
			<br/>
			Nehmen Sie sich selbst auf, indem Sie nur das Wort in dem unten stehenden Kasten sagen.
			<br/>
			Drücken Sie Stop, um die Aufnahme zu stoppen. Wenn Sie alle gewünschten Wörter eingegeben haben, können Sie die Aufnahmen hochladen.
		</div>
		<div class="progress-display">
		</div>
		<div class="info-display">
		</div>
      </section>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Aufnahme</button>
          <button class="stop">Stop</button>
          <button class="upload">Upload</button>
        </div>
      </section>

      <section class="sound-clips">

        <!-- This is left here as a helper for testing the style of the clips
        If you want to edit their appearance without having to record clips,
        uncomment this and reload the page. Remember to comment it again when done!
        <article class="clip">
          <audio controls></audio>
          <p>Sample clip name</p>
          <button class="delete">Delete</button>
        </article>
        -->

      </section>

    </div>

    <footer>
	  <a href="/main">Willkommen</a>
	  <a href="/legal">Teilnehmererklärung</a>
	  <a href="https://github.com/ensingerphilipp/web-voice-record">Quellcode</a>
    </footer>

    <script src="static/scripts/app.js"></script>

  </body>
</html>
