<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Project-Friday WakeWord Aufnahme</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>WakeWord Aufnahme</h1>

      <section class="top-display">
	<div class="welcome-display">
      Vielen Dank, dass Sie Ihre gesprochenen Worte zu dieser Sammlung beigesteuert haben!
	</div>
      </section>

    </div>

    <footer>
	  <a href="/">Willkommen</a>
	  <a href="/legal">Teilnehmererklärung</a>
	  <a href="https://github.com/ensingerphilipp/web-voice-record">Quellcode</a>
    </footer>

  </body>
</html>
